.header {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.buttons {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1024px) {
    padding: 1rem;
  }

  .button {
    padding: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: var(--color-dark-black);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background-color: var(--color-white);
      color: var(--color-dark-black);
    }
  }
  .disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;

  list-style-type: none;
  padding: 1rem;
  margin: 0;
  width: 100%;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.card {
}

.cardImage {
  display: block;
  width: 100%;
}
