.header {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;

  list-style-type: none;
  padding: 1rem;
  margin: 0;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.card {
}

.cardImage {
  display: block;
  width: 100%;
}
